import ur{
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Libre+Franklin:wght@300;600;700&family=Montserrat:wght@500;700&display=swap');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: montserrat san-serif ;
}
nav{
    height: 100px;
    width: 100%;
    background-color: #ffffff;
}
#hero{
    background-image: url('./images/Rectangle\ 1.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 100px);
}
#hero h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
}
#hero button{
    background-color: white;
    width: 147;
    height: 40px;
    color: #7c0B0B;
    border-radius: 10px;
    font-size: 16px;
}
@media (max-width:500px){
    #hero h1{

        font-size: 20px;
    }
    
}
